@model IList<ContC.domain.entities.Models.Localidade>
<!DOCTYPE html>
@{
    ViewBag.Title = "Lista de Localidades";
}
<script type="text/javascript">

    function encodeHtml(text) {
            if(text === undefined || text === null)
                return "";
            var replacements = [
                [ /&amp;/g, '&ampx;' ], [ /&/g, '&amp;' ], [ /&quot;/g, '&quotx;' ], [ /"/g, '&quot;' ],
                [ /&lt;/g, '&ltx;' ], [ /</g, '&lt;' ], [ /&gt;/g, '&gtx;' ], [ />/g, '&gt;' ]
            ];
            for(var i = 0; i < replacements.length; i++) {
                var repl = replacements[i];
                text = text.replace(repl[0], repl[1]);
            }
            return text;
    }

</script>


<h2>Lista de Localidades</h2>
<hr />
@using (Html.BeginForm())
{
    @Html.Partial("LocalidadeGridPartial", Model)
}