@model ContC.Extension.EA.presentation.mvc.Models.ForgotPasswordViewModel
@{
    ViewBag.Title = "Log in";
    AjaxOptions ao = new AjaxOptions()
    {
        OnBegin = "$('.jquery-waiting-base-container').showing({ modo: 'slow' });",
        //OnComplete = "fecharModal();",
        OnFailure = "ErroModal",
        OnSuccess = "SuccessModal"
        //UpdateTargetId = "content",
    };
}

@using (Ajax.BeginForm("ForgotPassword", "Account", new { }, ao, new { @class = "form-horizontal", role = "form" }))
{
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                        &times;
                    </button>
                    <h4 class="modal-title" id="myModalLabel"> </h4>
                </div>
                <div class="modal-body">
                    <div id="dvErro">
                    </div>
                    @Html.AntiForgeryToken()
                    <h4>Enter your email.</h4>
                    <hr />
                    @Html.ValidationSummary("", new { @class = "text-danger" })
                    <div class="form-group">
                        @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
                        <div class="col-md-10">
                            @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">
                        Cancelar
                    </button>
                    <input type="submit" class="btn btn-default" value="Email Link" />
                </div>
            </div>
        </div>
    </div>
    <script>
        $(document).ready(function () {
            $("#myModal").modal();
        });
        function ErroModal(data) {

            var err = '<div id="dvErro" class="alert alert-danger fade in">';
            err = err + '<button class="close" data-dismiss="alert">';
            err = err + '×';
            err = err + '</button>';
            err = err + '<i class="fa-fw fa fa-times"></i>';
            err = err + '<strong>Error!</strong> ' + data.statusText;
            err = err + '</div>';

            $("#dvErro").html('');
            $("#dvErro").html(err);
            $('.jquery-waiting-base-container').closing({ modo: 'slow' });
        }
        function SuccessModal(data) {

            var err = '<div id="dvErro" class="alert alert-info fade in">';
            err = err + '<button class="close" data-dismiss="alert">';
            err = err + '×';
            err = err + '</button>';
            err = err + '<i class="fa-fw fa fa-times"></i>';
            err = err + '<strong>Enviado!</strong> A sua senha foi enviada com sucesso';
            err = err + '</div>';

            $("#dvErro").html('');
            $("#dvErro").html(err);
            $('.jquery-waiting-base-container').closing({ modo: 'slow' });
        }
    </script>

}

