body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}



.jquery-waiting-base-container {
	position: fixed;
	left: 0px;
	top:0px;
	margin:0px;
	width: 100%;
	height: 100%;
	display:block;
	z-index: 9999997;
	opacity: 0.65;
	-moz-opacity: 0.65;
	filter: alpha(opacity = 65);
	background: black;
	background-image: url("../Content/images/ajax-loader.gif");
	background-repeat: no-repeat;
	background-position:50% 50%;
	text-align: center;
	overflow: hidden;
	font-weight: bold;
	color: white;
	padding-top: 25%;
}
