@model ContC.presentation.mvc.Models.UserRoleViewModel

@{
    ViewBag.Title = "Configurações de Papéis de Usuário";
}

<script type="text/javascript">

    $(document).ready(function() {
        $("#Usuario").change(function() {
            var username = $("#Usuario").val();
            var rolesDiv = $("#rolesDiv");
            $.ajax({
                cache: false,
                type: "GET",
                url: "@Url.Action("RolesPartial", "UserRole")?username=" + username,
                data: { "username": username },
                success: function(data) {
                    rolesDiv.html('');
                    rolesDiv.html(data);
                },
                error: function(xhr, ajaxOptions, thrownError) {
                    alert('Failed to retrieve.');
                }
            });
        });
    });

</script>

<script>
    $(document).ready(function () {

        // Handle the form submit event, and make the Ajax request:
        $("#rolesForm").on("submit", function (event) {
            event.preventDefault();
            // Show the "busy" Gif:
            $(".jquery-waiting-base-container").showing({ modo: "slow" });
            var url = $(this).attr("action");
            var formData = $(this).serialize();
            $.ajax({
                url: url,
                type: "POST",
                data: formData,
                dataType: "json",
                success: function (resp) {
                    //Aguarda um segundo para exibir a mensagem
                    setTimeout(function () { mostrarAviso(resp.Texto, resp.Tipo); }, 1000);
                },
                complete: function () {
                    $(".jquery-waiting-base-container").closing({ modo: "slow" });
                }
            });
        });
    });
</script>

<h2>Configurações de Papéis de Usuário</h2>
<hr/>
@using (Html.BeginForm("SalvarPapeisDeUsuario", "UserRole", FormMethod.Post, new { id = "rolesForm" }))
{
<div class="form-group">
    <div class="row">
        <div class="col-lg-4">
            @Html.LabelFor(model => model.ListaDeUsuarios)
            @Html.DropDownListFor(model => model.Usuario, Model.ListaDeUsuarios, new {@class = "form-control"})
        </div>
    </div>
    <div id="rolesDiv" class="form-inline"></div>
</div>
}

