@model ContC.presentation.mvc.Models.UserRoleViewModel
<br />
<h4>Escolha os papeis do usuário no sistema</h4>
<hr/>
@{
    for (var i = 0; i < Model.TodosOsPapeis.Count; i += 4)
    {
        
        <div class="row">
        @for (int r = 0; r < 4; r++)
        {            
            if (r + i == Model.TodosOsPapeis.Count )
            {
                break;
            }
            var checkedRoles = Model.ListaDePapeisDoUsuario.Any(l => l == Model.TodosOsPapeis[i + r]);
            <div class="col-lg-3">
                @Html.Label(Model.TodosOsPapeis[i + r])
                @(checkedRoles ? Html.CheckBox(Model.TodosOsPapeis[i + r], new {@checked = "True", @class = "checkbox"}) : Html.CheckBox(Model.TodosOsPapeis[i + r], new {@class = "checkbox"}))
            </div>
        }
        </div>       
    }
}
<br />
<div class="row">
    <div class="col-md-4">
        <button id="btnSalvarRoles" type="submit" class="btn btn-primary">Salvar</button>
    </div>
</div>
