<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1"/>
    </startup>
  <appSettings>
    <add key="dbserver" value="localhost"/>
    <add key="dbdatabase" value="contc"/>
    <add key="dbusername" value="postgres"/>
    <add key="dbpassword" value="admin"/>
  </appSettings>
</configuration>
