@model ContC.presentation.mvc.Models.ExternalLoginConfirmationViewModel
@{
    ViewBag.Title = "Register";
}
    <p class="text-danger">
        <h2>Você não tem acesso ao sistema. favor entrar em contato com o seu lider.</h2>
    </p>



@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
