@model ContC.presentation.mvc.Models.NotasModels.NotasNovoModel

@{
    ViewBag.Title = "Log in";
    AjaxOptions ao = new AjaxOptions()
    {
        OnBegin = "$('.jquery-waiting-base-container').showing({ modo: 'slow' });",
        OnFailure = "ErroModal",
        OnSuccess = "SuccessModal",
    };

}
@using (Ajax.BeginForm("Salvar", "Notas", new { }, ao, new { @class = "form-horizontal", role = "form" }))
{
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                        &times;
                    </button>
                    <h4 class="modal-title" id="myModalLabel">Cadastro de Lista </h4>
                </div>
                <div class="modal-body">
                    <div id="dvErro">
                    </div>
                    @Html.HiddenFor(p => p.Id)
                    @Html.HiddenFor(p => p.EmpresaId)
                    <div class="row">
                        <div class="col-md-12">
                            <label class="control-label">Titulo</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            @Html.TextBoxFor(m => m.Titulo, new { @class = "form-control col-md-12" })
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">
                        Cancelar
                    </button>
                    <input id="btnSalvar" type="submit" class="btn btn-primary" value="Salvar!" />
                </div>
            </div>
        </div>
    </div>
    <script>
        $(document).ready(function () {
            $("#myModal").modal();

        });

        function fecharModal() {
            $("#myModal").modal('hide');
            $('.jquery-waiting-base-container').closing({ modo: 'slow' });
        }
        function SuccessModal(data) {
            fecharModal();

            refreshNota(data.EmpresaId, data.NotaSelecionadaId);
        }
        function ErroModal(data) {

            var err = '<div id="dvErro" class="alert alert-danger fade in">';
            err = err+'<button class="close" data-dismiss="alert">';
            err = err+'×';
            err = err+'</button>';
            err = err+'<i class="fa-fw fa fa-times"></i>';
            err = err+'<strong>Error!</strong> ' + data.statusText;
            err = err+'</div>';

            $("#dvErro").html('');
            $("#dvErro").html(err);
            $('.jquery-waiting-base-container').closing({ modo: 'slow' });
        }

    </script>
}
